/**
 * This file is part of the Goobi Application - a Workflow tool for the support of mass digitization.
 * 
 * Visit the websites for more information. 
 *     		- http://www.goobi.org
 *     		- http://launchpad.net/goobi-production
 * 		    - http://gdz.sub.uni-goettingen.de
 * 			- http://www.intranda.com
 * 			- http://digiverso.com 
 * 
 * This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free
 * Software Foundation; either version 2 of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59
 * Temple Place, Suite 330, Boston, MA 02111-1307 USA
 * 
 * Linking this library statically or dynamically with other modules is making a combined work based on this library. Thus, the terms and conditions
 * of the GNU General Public License cover the whole combination. As a special exception, the copyright holders of this library give you permission to
 * link this library with independent modules to produce an executable, regardless of the license terms of these independent modules, and to copy and
 * distribute the resulting executable under terms of your choice, provided that you also meet, for each linked independent module, the terms and
 * conditions of the license of that module. An independent module is a module which is not derived from or based on this library. If you modify this
 * library, you may extend this exception to your version of the library, but you are not obliged to do so. If you do not wish to do so, delete this
 * exception statement from your version.
 */
/* ######################################## 

					CSS-Datei f�r die Formatierung der Webseiten

######################################### */
h1 {
	margin-top: 10px;
	color: #003399;
	font-weight: bold;
	font-size: 20px;
}

h2 {
	margin-top: 10px;
	color: #003399;
	font-weight: bold;
	font-size: 18px;
}

h3 {
	margin-top: 0px;
	color: #003399;
	font-weight: bold;
	font-size: 16px;
}

h4 {
	margin-top: 10px;
	margin-bottom: 8px;
	color: #003399;
	font-weight: bold;
	font-size: 13px;
}

img {
	border: 0;
}

/*---------------------------  neue Styles --------------------------------- */
body {
	margin: 0px 6px 0px 6px;
	background-color: #ffffff;
	font-family: verdana, arial;
	font-size: 11px;
}

table {
	font-size: 11px;
	font-family: verdana, arial;
}

.layoutTable {
	width: 100%;
	height: 600px;
}

.layoutKopf {
	display:none;
}

.layoutFuss {
	display:none;
}

.layoutNavigation {
	display:none;
}

.layoutTreeView {
}

.action{

	display: none;	
}

.layoutInhalt {
	border-style: solid;
	border-width: 1px;
	border-color: #e3c240;
	background-color: #fafcfe;
	padding-bottom: 15px;
}

.layoutInhaltKopf {
	font-size: 11px;
	width: 100%;
	height: 20px;
	background-color: #faf3da;
	border-bottom-width: 1px;
	border-bottom-color: #e3c240;
	border-bottom-style: solid;
}

.main_statistikboxen {
	width: 100%;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #e3c240;
}

.main_statistikboxen_row1 {
	background-color: #faf3da;
	border-bottom-width: 1px;
	border-bottom-color: #e3c240;
	border-bottom-style: solid;
}

.main_statistikboxen_row2 {
	height: 60px;
}

.main_statistikboxen_row3 {
	background-color: #faf3da;
	border-top-width: 1px;
	border-top-color: #e3c240;
	border-top-style: solid;
}

.rowTop {
	vertical-align: top;
}

.rowMiddle {
	vertical-align: middle;
}

.columnLinks {
	text-align: left;
}

.columnRechts {
	text-align: right;
}

/** standard link styles **/
a {
	color: #50519e;
	text-decoration: none;
}

a:hover {
	color: #261ed7;
	text-decoration: underline;
}

a:active {
	color: #de0039;
	text-decoration: none;
}

/**-- standard link styles **/
#hov a:hover{
	color:black;
 	border-bottom: #a24033 dashed 1px;

 }

 /** menu links **/
a.mlink {
	display: block;
	width: 98%;
	padding: 2px;
	text-decoration: none;
}

a.mlink:hover {
	background-color: #f8eccb;
}

/**-- menu links **/
.th_menu {
	background-color: #f4e8b5;
	color: #50519e;
	display: block;
	width: 98%;
	padding: 4px 2px 4px 2px;
	font-weight: bold;
	margin-top: 10px;
}

.bg1 {
	background-color: #faf3da;
}

.LoginFormular {
	width: 140px;
	padding: 5px;
	border-style: dashed;
	border-width: 1px;
	border-color: #e3c240;
}

.StammdatenFormular {
	width: 300px;
	padding: 10px;
	background-color: #faf3da;
	border-style: solid;
	border-width: 1px;
	border-color: #e3c240;
}

.WizardLiteraturFormular {
	width: 500px;
	padding: 10px;
	background-color: #faf3da;
	border-style: solid;
	border-width: 1px;
	border-color: #e3c240;
}

.randInhalt {
	margin-left: 15px;
	margin-right: 15px;
}

.eingabeBoxen {
	display: none;
}

.eingabeBoxen_row1 {
	background-color: #ebdad8;
	border-bottom-width: 1px;
	border-bottom-color: #a24033;
	border-bottom-style: solid;
}

.eingabeBoxen_row2 {
	background-color: #f3ebeb;
	/*height: 60px;*/
}

.eingabeBoxen_row3 {
	background-color: #e7d0cd;
	border-top-width: 1px;
	border-top-color: #a24033;
	border-top-style: solid;
}

.standardTable {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 11px;
	background-color: #f4e8b5;
	padding: 0;
	border-style: solid;
	border-color: #e3c240;
	border-width: 1px;
	margin-bottom: 7px;
}

.standardTable_Header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 11px;
	height: 25px;
	text-align: center;
	color: #50519e;
	background: #faf3da;
	border-bottom-style: solid;
	border-bottom-color: #e3c240;
	border-bottom-width: 1px;
}

.metadatenZurLiteraturTable_Header_Left {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 7px;
	font-size: 11px;
	height: 25px;
	text-align: left;
	color: #000000;
	font-weight: normal;
	background: #faf3da;
	border-bottom-style: solid;
	border-bottom-color: #e3c240;
	border-bottom-width: 1px;
}


.text_light {
	color: #999999;
}

.text_11_bold {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}

.text_11 {
	color: #000000;
	font-size: 12px;
	width:120px;
}

.input_neueLiteratur {
	width: 200px;
}

.table_column_380 {
	width: 380px;
}

.eingabeTable {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 10px;
	background-color: #dfeaff;
	padding: 0;
	border-style: solid;
	border-color: #a24033;
	border-width: 1px;
	margin-bottom: 7px;
}

.eingabeTable_Header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 11px;
	height: 25px;
	text-align: center;
	background: #e7d0cd;
	border-bottom-style: solid;
	border-bottom-color: #a24033;
	border-bottom-width: 1px;
}

.eingabeTable_valign_top {
	background-color: #f3ebeb;
	vertical-align: top;
}


.standardTable_Column_top_150 {
	vertical-align: top;
	width: 150px;
}

.text_green{
	color: green;
}


.text_blue{
	color: blue;
}


.text_yellow{
	color: yellow;
}

.text_red{
	color: red;
}

.text_head{
    color: white;
}

a.text_head:hover {
    color: white;
    text-decoration: underline;
}


.goobiScriptLink{
    color: grey;
    text-decoration: underline;
    cursor:help;
    margin-right:5px;
}

/*--------------------------- // neue Styles --------------------------------- */





/*---------------------------------               Kopie von Prozess anlegen           --------------------------------------*/
.prozessKopieSpalte1 {
	font-size: 11px;
	width: 150px;
}

.prozessKopieSpalte2 {
	font-size: 11px;
}

.prozessKopieFeldbreite {
	width: 450px;
	margin-right: 5px;
}
/*---------------------------------               // Kopie von Prozess anlegen           --------------------------------------*/





.Tabelle {
	font-size: 12px;
	border: none;
	empty-cells: show;
}

.TabelleHeader {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 11px;
	text-align: center;
	color: white;
	background: #4b4b98;
}

.TabelleSpalte {
	height: 25px;
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px solid #4b4b98;
	text-align: center;
	color: black;
	background: white;
}

.TabelleSpalteLinks {
	height: 25px;
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px solid #4b4b98;
	text-align: left;
	color: black;
	
}

.TabelleSpalteRechts {
	height: 25px;
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px solid #4b4b98;
	text-align: right;
	color: black;
	background: white;
}

.DetailsLinks {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size: 12px;
	color: white;
	font-weight: bold;
	background: #4b4b98;
}

.DetailsRechts {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size: 12px;
	background: #e5e5e5;
}

.DetailsLinksKurz {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size: 11px;
	color: white;
	font-weight: bold;
	background: #4b4b98;
}

.DetailsRechtsKurz {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size: 11px;
	background: #e5e5e5;
}

.tree {
	line-height:18px;
	font-family: arial, sans-serif;
}

.treenode {
	padding: 2px 15px 2px 5px;
}

.treenode a {
	text-decoration: none;
}

.treenodeSelected {
	padding: 2px 15px 2px 5px;
}

.treenodeSelected a {
	text-decoration: none;
	font-weight: bold;
}

.top {
	vertical-align: top;
}

/*
   ------------------------------------------------------------
   Popup component
   ------------------------------------------------------------
*/
.popup {
	background-color: white;
	color: #000000;
	border: 1px solid #e3c240;
	font-size: smaller;
}


/*
   ------------------------------------------------------------
   End popup component
   ------------------------------------------------------------
*/
 /*
   ------------------------------------------------------------
   Metadaten
   ------------------------------------------------------------
*/
.nodeFolder {
	font-size: 10px;
	font-family: verdana, geneva, sans-serif;
	text-decoration: none
}

a.document {
	font-size: 11px;
	font-family: verdana, geneva, sans-serif;
	text-decoration: none
}

a.documentSelected {
	font-size: 11px;
	font-family: verdana, geneva, sans-serif;
	text-decoration: none;
	font-weight: bold
}

.childCount {
	color: blue;
	font-size: 10px;
	font-family: verdana, geneva, sans-serif;
	text-decoration: none
}

.metadatenInput {
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	font-family: sans-serif;
	font-size: 12px;
}

.metadatenInputChange {
	border-color: red;
	border-style: solid;
	border-width: 1px;
	font-family: sans-serif;
	font-size: 12px;
}

/*
   ------------------------------------------------------------
   Tabelle f�r alle Literatur
   ------------------------------------------------------------
*/
.standardTable_SortHeader {
	background-color: #ffdd00;
	color: #000000;
	padding: 3px;
	text-align: center;
	border: none;
	font-weight: bold;
}

.standardTable_Footer {
	background-color: #ffffe0;
}

.standardTable_Row1 {
	background-color: #ffffff;
	line-height: 19px;
}

.standardTable_Row2 {
	background-color: #F5F5F5;
}

.standardTable_Row_top {
	background-color: #ffffff;
	vertical-align: top;
}

.standardTable_Row_bottom {
	vertical-align: bottom;
}

.standardTable_Column {
	
}

.standardTable_Column_top {
	vertical-align: top;
}

.standardTable_Column_top_margin {
	margin:10px;
	vertical-align: top;
}

.standardTable_Column_top_11 {
	vertical-align: top;
	font-size: 12px;
}

.standardTable_ColumnCentered {
	text-align: center
}

.standardTable_ColumnRight {
	text-align: right;
}

.standardTable_ColumnSchmal {
	width: 20px;
}

.metadatenGrauBackground {
    background-color:#F0F0F0;
}



/*
   ------------------------------------------------------------
   Links im Header des Metadateneditors
   ------------------------------------------------------------
*/
.metadataHeaderLinks{
    color:white;
}

a.metadataHeaderLinks {
	color:white;
    text-decoration: none;
}

a.metadataHeaderLinks:hover {
    text-decoration: underline;
}
