<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"

 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- SQL - Settings -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 
		Use the following JDBC URL to use the reconect feature of the MySQL driver.
		BTW: This is not recommended, use the reconnect features of the connection pool insteed
		jdbc:mysql://localhost/goobi?autoReconnect=true&amp;autoReconnectForPools=true
		 -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/rusdml
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">goobi</property>

		<!-- connection pool -->
		<property name="hibernate.c3p0.max_size">5000</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">18</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.idle_test_period">10</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.validate">true</property>

		<!-- use the C3P0 connection pool -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">managed</property>
        
		<!-- Don't echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		
		<!-- Update database schema on startup -->
 		<property name="hbm2ddl.auto">update</property> 
		
		<!-- Die einzelnen Mappings -->
		<mapping resource="de/sub/goobi/Beans/Benutzergruppe.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Benutzer.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Benutzereigenschaft.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Prozess.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Prozesseigenschaft.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Schritt.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Schritteigenschaft.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Werkstueck.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Werkstueckeigenschaft.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Vorlage.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Vorlageeigenschaft.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Projekt.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/Regelsatz.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/LdapGruppe.hbm.xml" />
		<mapping resource="de/sub/goobi/Beans/ProjectFileGroup.hbm.xml" />
        <mapping resource="de/sub/goobi/Beans/HistoryEvent.hbm.xml" />
        
	</session-factory>

</hibernate-configuration>