# local development
/config-local
# Maven
**/target/
# Tests
/Kitodo/modules
# local build of Javadoc (cf. docs/javadoc/README.md)
/javadoc
# local build of docs with mkdocs
/site
# flatten-maven-plugin
.flattened-pom.xml
