<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 * (c) Kitodo. Key to digital objects e. V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo project.
 *
 * It is licensed under GNU General Public License version 3 or later.
 *
 * For the full copyright and license information, please read the
 * GPL3-License.txt file that was distributed with this source code.
 *
-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"

        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- SQL - Settings -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>

        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:h2:mem:</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">managed</property>

        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">create-drop</property>

        <!-- Die einzelnen Mappings -->
        <mapping class="de.sub.goobi.beans.Batch"/>
        <mapping class="de.sub.goobi.beans.Docket"/>
        <mapping class="de.sub.goobi.beans.HistoryEvent"/>
        <mapping class="de.sub.goobi.beans.LdapGruppe"/>
        <mapping class="de.sub.goobi.beans.Prozess"/>
        <mapping class="de.sub.goobi.beans.Prozesseigenschaft"/>
        <mapping class="de.sub.goobi.beans.Projekt"/>
        <mapping class="de.sub.goobi.beans.ProjectFileGroup"/>
        <mapping class="de.sub.goobi.beans.Regelsatz"/>
        <mapping class="de.sub.goobi.beans.Schritt"/>
        <mapping class="de.sub.goobi.beans.Vorlage"/>
        <mapping class="de.sub.goobi.beans.Vorlageeigenschaft"/>
        <mapping class="de.sub.goobi.beans.Benutzergruppe"/>
        <mapping class="de.sub.goobi.beans.Benutzer"/>
        <mapping class="de.sub.goobi.beans.Benutzereigenschaft"/>
        <mapping class="de.sub.goobi.beans.Werkstueck"/>
        <mapping class="de.sub.goobi.beans.Werkstueckeigenschaft"/>

    </session-factory>

</hibernate-configuration>
