pre {
  background-color: #EEEEEE;
}

td { 
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fcfcfc;
  font-size: 12pt;
  font-family: serif;
  font-weight: normal;
  vertical-align: top;
}

th { 
  background-color: #aaa;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt;
  font-family: sans-serif;
  color: #fff;
}

p, li {
 background-color: #fffff;
 font-size: 11pt;
 font-family: sans-serif;
}

hr {
 background-color:#fff; /* Mozilla 1.4 */
 color:#fff; /* IE 6 */
 border: #fff; /* Opera 7.11 */
 height: 0px; /* Opera, Mozilla */
 margin-top: 0px;
 margin-bottom: 0px;
}

h1 {
 background-color: #fff;
 font-size: 16pt;
 font-family: Times, serif;
}

h2 {
 background-color: #fff;
 font-size: 15pt;
 font-family: Times, serif;
}

h3 {
 background-color: #fff;
 font-size: 14pt;
 font-family: Times, serif;
}

h4 {
 background-color: #fff;
 font-size: 13pt;
 font-family: Time, serif;
}

h3.title {
 background-color: #fff;
 font-family: Times, serif;
 font-size: 10pt;
 font-weight: bold;
}
em.emphasis {
 font-family: sans-serif;	
 font-style: italic;
 color: #009;
}

em.pelement {
 font-family: sans-serif;
 color: #900;
}

em.company {
 font-family: sans-serif;
 color: #309;
}

em.email {
 font-family: sans-serif;
 color: #039;
}

em.java_class {
 font-family: sans-serif;
 color: #390;
}

em.java_method {
 font-family: sans-serif;
 color: #093;
}

span.path {
 margin-left: 16px;
 font-size: 12px;
 font-family: sans-serif;
}

span.path a {
 text-decoration: none;
}

span.path a:hover {
 text-decoration: underline;
}

span.navbar {
 position:absolute;
 right: 16px;
}

div.navigation {
 width: 100%;
 padding-top: 4px;
 padding-bottom: 4px;
 background-color: #eee;
}

div.abstract {
}

div#footer {
 margin-top: 24px;
 text-align: center;
 font-size: 8pt;
 font-family: sans-serif;
}

div.chapter {
 margin-left: 4px;
 padding-left: 6px;
 border-top-style: solid;
 border-top-width: 1px;
 border-top-color: #ddd;
}

div.section {
 margin-left: 4px;
 padding-left: 6px;	
}

div.note, div.important, div.caution, div.tip {
 background-repeat: no-repeat;
 # background-position: center left;
 background-position: 10px 10px;
 color: #333333; 
 font-size: 24px; 
 background-color: #fff;
 padding: 0px 6px 4px 48px;
 margin: 0px 6px 4px 10px;
 border-width:1px;
 border-style:solid;
 border-color:gray;
}

div.note {
 background-image: url(co_note.gif);
}
div.important {
 background-image: url(co_caution.gif);
}
div.caution {
 background-image: url(co_warning.gif);
}
div.tip {
 background-image: url(co_tip.gif);
}

#div.note p, div.important p, div.warning p, div.caution p {
# margin-left: 2cm;
#}

/* remove borders from navigation images */
a img {
 border: 0px;
}